.btn {
    all: unset;
    font-size: 1.5rem;
    margin: .5em;
    padding: .5em 1em;
    background-color: hsl(var(--btn-clr));
    border-radius: 100vh;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: filter 200ms ease,
        background-color 200ms ease,
        color 200ms ease;
}
.btn span {
    position: relative;
    z-index: 1;
}
.btn div {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: var(--size);
    height: var(--size);
    background-color: white;
    border-radius: 50%;
    z-index: 0;
    transform-origin: center;
    animation: expand 800ms ease-out forwards;
}

/* hover ----------------------------------- */
.btn:hover:enabled {
    filter: brightness(1.2);
}
/* ----------------------------------------- */

/* focus ----------------------------------- */
.btn:focus {
    outline: 2px solid white;
}
/* ----------------------------------------- */

/* disabled -------------------------------- */
.btn:disabled {
    background-color: hsl(var(--btn-disabled-clr));
    color: hsl(var(--btn-disabled-text-clr));
}
/* ----------------------------------------- */

@keyframes expand {
    0% {
        transform: translate(-50%, -50%) scale(0, 0);
        opacity: .3;
    }
    100% {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 0;
    }
}