@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    color: white;

    --bg-clr: 0 0% 10%;

    --up-clr: 240 60% 50%;
    --down-clr: 120 60% 30%;
    --left-clr: 60 70% 55%;
    --right-clr: 0 60% 40%;
    --orange-clr: 32 80% 50%;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--bg-clr));

    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-columns: 300px auto;
}

.controls {
    border-right: 1px solid white;
}

.heading {
    margin: 0;
    height: 100%;
    font-size: 3rem;
    letter-spacing: .2rem;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.square-dance {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    --size: 500px;
    --cells: 2;
    --cell-size: calc(var(--size) / var(--cells));
    display: grid;
    grid-template-columns: repeat(var(--cells), var(--cell-size));
    grid-template-rows: repeat(var(--cells), var(--cell-size));

    transition: 500ms ease;
}

.domino {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 500ms ease;
}

.domino svg {
    fill: white;
    width: 60%;
    height: 60%;
}

.domino.up {
    grid-column: span 2;
    background-color: hsl(var(--up-clr));
}
.domino.down {
    grid-column: span 2;
    background-color: hsl(var(--down-clr));
}
.domino.left {
    grid-row: span 2;
    background-color: hsl(var(--left-clr));
}
.domino.right {
    grid-row: span 2;
    background-color: hsl(var(--right-clr));
}

.animate-move .domino.up {
    transform: translateY(-100%)
}
.animate-move .domino.down {
    transform: translateY(100%)
}
.animate-move .domino.left {
    transform: translateX(-100%)
}
.animate-move .domino.right {
    transform: translateX(100%)
}

.orange-box {
    background-color: hsl(var(--orange-clr));
    transform-origin: top left;
    animation: orange-box 500ms ease forwards;
    border-radius: .5rem;

    transition: background-color 500ms ease;

    display: grid;
    grid-template-columns: repeat(2, calc(var(--cell-size) / 2));
    grid-template-rows: repeat(2, calc(var(--cell-size) / 2));
}
.orange-box .domino {
    border-radius: .5rem;
    animation: domino-fade-in 500ms ease forwards;
}

@keyframes orange-box {
    0% {
        transform: scale(0%, 0%);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        transform: scale(200%, 200%);
    }
}

@keyframes domino-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}