.square-dance {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    --size: 800px;
    --cells: 2;
    --cell-size: calc(100% / var(--cells));
    display: grid;
    grid-template-columns: repeat(var(--cells), var(--cell-size));
    grid-template-rows: repeat(var(--cells), var(--cell-size));
    width: var(--size);
    height: var(--size);
    
    transition: var(--transition-speed, 500ms) ease;
}