.square-dance {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    --size: 800px;
    --cells: 2;
    --cell-size: calc(var(--size) / var(--cells));
    display: grid;
    grid-template-columns: repeat(var(--cells), var(--cell-size));
    grid-template-rows: repeat(var(--cells), var(--cell-size));

    transition: 500ms ease;
}