.orange-box {
    background-color: hsl(var(--orange-clr));
    transform-origin: top left;
    animation: orange-box 500ms ease forwards;
    border-radius: .5rem;

    transition: background-color 500ms ease;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}
.orange-box .domino {
    border-radius: .5rem;
    animation: domino-fade-in 500ms ease forwards;
}

@keyframes orange-box {
    0% {
        transform: scale(0%, 0%);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        transform: scale(200%, 200%);
    }
}

@keyframes domino-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}