.domino {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.domino svg {
    fill: white;
    width: 60%;
    height: 60%;
}
.domino.up {
    grid-column: span 2;
    background-color: hsl(var(--blue-clr) / var(--alpha, 1));
}
.domino.down {
    grid-column: span 2;
    background-color: hsl(var(--green-clr) / var(--alpha, 1));
}
.domino.left {
    grid-row: span 2;
    background-color: hsl(var(--yellow-clr) / var(--alpha, 1));
}
.domino.right {
    grid-row: span 2;
    background-color: hsl(var(--red-clr) / var(--alpha, 1));
}

/* move ------------------------------------ */
.animate-move .domino {
    transition: transform var(--domino-move-speed) ease;
}
.animate-move .domino.up, .animate-move.domino.up {
    transform: translateY(-100%);
}
.animate-move .domino.down, .animate-move.domino.down {
    transform: translateY(100%);
}
.animate-move .domino.left, .animate-move.domino.left {
    transform: translateX(-100%);
}
.animate-move .domino.right, .animate-move.domino.right {
    transform: translateX(100%);
}
/* ----------------------------------------- */

/* remove ---------------------------------- */
.domino.removed {
    opacity: 0;
}
.domino.fade-out {
    transition: var(--domino-remove-speed) ease;
    animation: domino-fade-out var(--domino-fade-out-speed) ease forwards;
}
@keyframes domino-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* ----------------------------------------- */

/* reset ----------------------------------- */
.reset.domino {
    transform: scale(0);
    transition: transform var(--domino-reset-speed) ease;
}
/* ----------------------------------------- */

/* create ---------------------------------- */
.animate-create.domino {
    animation: domino-create var(--domino-create-speed) ease;
}
@keyframes domino-create {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* ----------------------------------------- */

/* low detail ------------------------------ */
.low-detail .domino {
    border-radius: 0;
}
.low-detail .domino svg {
    display: none;
}
/* ----------------------------------------- */